In [3]:
import pandas as pd

#### DataFrame.groupby(기준항목).agg(사용하고자 하는 function들)

|함수	|설명	|예시|
|----|----|----|
|sum()	|합계   |df['매출'].sum()|
|mean()	|평균   |df['점수'].mean()|
|count()	|개수   |df['이름'].count()|
|max()	|최대값 |df['온도'].max()|
|min()	|최소값 |df['가격'].min()|
|median()	|중앙값 |df['점수'].median()|
|std()	|표준편차   |df['점수'].std()|
|var()	|분산	|df['점수'].var()|
|nunique()	|고유값 개수    |df['도시'].nunique()|
|mode()	|최빈값	|df['등급'].mode()|

In [4]:
data = {
    "class": ["A", "A", "B", "B"],
    "name": ["철수", "영희", "민수", "지수"],
    "score": [80, 90, 70, 85]
}

df = pd.DataFrame(data)
df

  class name  score
0     A   철수     80
1     A   영희     90
2     B   민수     70
3     B   지수     85

In [8]:
df.groupby("class")

for key,value in df.groupby("class"):
    print(key) # 여기서는 "class" 컬럼의 값(그룹 기준 값)
    print(value) # 해당 그룹에 속한 행들 전체, DataFrame 형태

A
  class name  score
0     A   철수     80
1     A   영희     90
B
  class name  score
2     B   민수     70
3     B   지수     85

In [7]:
print(df.groupby("class")['score'].mean())

class
A    85.0
B    77.5
Name: score, dtype: float64